documentos/código_base_mni.xsd.xml

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cnj="http://www.cnj.jus.br/mni/v300/intercomunicacao" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://www.cnj.jus.br/mni/v300/intercomunicacao" elementFormDefault="qualified">
<annotation>
<documentation>
Documento que define os objetos mais relevantes para troca de informações entre tribunais e os demais órgãos ou auxiliares na administração da Justiça.
</documentation>
</annotation>
<simpleType name="tipoCadastroIdentificador">
<annotation>
<documentation>
Tipo de dados destinado a limitar a entrada de dados relativos a cadastros no Ministério da Fazenda Brasileiro (CPF e CNPJ) e/ou ao registro individual do cidadão (riC). A restrição imposta é que o dado qualificado por este tipo seja integralmente numérico, com 11 (CPF e riC) ou 14 (CNPJ) dígitos.
</documentation>
</annotation>
<restriction base="string">
<pattern value="(\d{11})|(\d{14})"/>
</restriction>
</simpleType>
<simpleType name="tipoCadastroOAB">
<annotation>
<documentation>
Tipo destinado a permitir a inclusão de dados relativos à inscrição do advogado na Ordem dos Advogados do Brasil. O número da ordem deve ser incluído no formato CCDDDDDDDC, sendo os primeiros 'C' dois caracteres indicativos da unidade federativa brasileira em que há a inscrição, os sete digitos 'D' seguintes o número da inscrição, devendo incluir zeros ('0') à esquerda caso o número tenha menos de 7 dígitos e o último caracter a letra identificadora do tipo de inscrição.
</documentation>
</annotation>
<restriction base="string">
<pattern value="[A-Za-z]{2}\d{7}[A-Za-z]{1}"/>
</restriction>
</simpleType>
<complexType name="tipoEndereco">
<annotation>
<documentation>
Tipo de elemento destinado a permitir o cadastro de endereços. Esse tipo tem o atributo opcional 'cep' e os elementos de texto 'logradouro', 'numero', 'complemento', 'bairro', 'cidade', 'estado' e 'pais', todos opcionais. Na implementação de validação, a presença do 'cep' deve dispensar o preenchimento dos elementos 'cidade', 'estado' e 'pais' e poderá dispensar a presença dos demais elementos que já estiverem presentes no diretório nacional de endereços (DNE) como vinculados ao código de endereçamento postal definido.
</documentation>
</annotation>
<sequence>
<element name="logradouro" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
O logradouro pertinente a este endereço, tais como rua, praça, quadra etc. O elemento é opcional para permitir que as implementações acatem a indicação de endereço exclusivamente pelo CEP, quando o CEP já encerrar o dado respectivo.
</documentation>
</annotation>
</element>
<element name="numero" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
O número vinculado a este endereço. O elemento é opcional para permitir que as implementações acatem a indicação de endereço exclusivamente pelo CEP, quando o CEP já encerrar o dado respectivo.
</documentation>
</annotation>
</element>
<element name="complemento" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
O complemento vinculado a este endereço. O elemento é opcional em razão de sua própria natureza.
</documentation>
</annotation>
</element>
<element name="bairro" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
O bairro vinculado a este endereço. O elemento é opcional para permitir que as implementações acatem a indicação de endereço exclusivamente pelo CEP, quando o CEP já encerrar o dado respectivo.
</documentation>
</annotation>
</element>
<element name="cidade" type="cnj:tipoCidade" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
A cidade vinculada a este endereço. O elemento é opcional para permitir que as implementações acatem a indicação de endereço exclusivamente pelo CEP, quando o CEP já encerrar o dado respectivo.
</documentation>
</annotation>
</element>
<element name="unidadeFederacao" type="cnj:modalidadeUnidadeFederacao" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Unidade federativo vinculado a este endereço. O elemento é opcional para permitir que as implementações acatem a indicação de endereço exclusivamente pelo CEP, quando o CEP já encerrar o dado respectivo. A implementação de codificação e decodificação deverão IGNORAR o elemento quando indicado um CEP válido.
</documentation>
</annotation>
</element>
<element name="pais" minOccurs="0" maxOccurs="1" default="BR">
<annotation>
<documentation>
O país vinculado a este endereço. Dever-se-á utilizar, preferencialmente, o código ISO-3166-1-alpha-2 (http://www.iso.org/iso/english_country_names_and_code_elements) pertinente ao país respectivo. A implementação deverá IGNORAR esse elemento caso tenha sido indicado um CEP válido. Caso não informado, assumir valor padão "BR" (Brazil).
</documentation>
</annotation>
<simpleType>
<restriction base="string">
<pattern value="[A-Za-z]{2}"/>
</restriction>
</simpleType>
</element>
<element name="cep" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo indicador do código de endereçamento postal do endereço no diretório nacional de endereços da ECT. O valor deverá ser uma sequência de 8 dígitos, sem qualquer separador. O atributo é opcional para permitir a apresentação de endereços desprovidos de CEP e de endereços internacionais.
</documentation>
</annotation>
<simpleType>
<restriction base="string">
<pattern value="\d{8}"/>
</restriction>
</simpleType>
</element>
</sequence>
</complexType>
<simpleType name="modalidadeQualificacaoPessoa">
<annotation>
<documentation>
Elemento definidor dos tipos possíveis de pessoa. Trata-se de enumeração dos tipos possíveis, que são: - fisica: pessoa física; - juridica: pessoa jurídica, seja de direito público, seja de direito privado; - autoridade: enfeixamento de funções; - orgaorepresentacao: órgão de representação jurídica de interesses sem personalidade jurídica própria.
</documentation>
</annotation>
<restriction base="string">
<enumeration value="FIS">
<annotation>
<documentation> Pessoa física </documentation>
</annotation>
</enumeration>
<enumeration value="JUR">
<annotation>
<documentation>
Pessoa jurídica, seja de direito público, seja de direito privado
</documentation>
</annotation>
</enumeration>
<enumeration value="AUT">
<annotation>
<documentation> Enfeixamento de funções </documentation>
</annotation>
</enumeration>
<enumeration value="ORP">
<annotation>
<documentation>
Órgão de representação jurídica de interesses sem personalidade jurídica própria
</documentation>
</annotation>
</enumeration>
<enumeration value="EDP">
<annotation>
<documentation>
Ente despersonalizado: espólio, massa falida e outras representações sem personalidade jurídica
</documentation>
</annotation>
</enumeration>
</restriction>
</simpleType>
<simpleType name="modalidadeDocumentoIdentificador">
<annotation>
<documentation>
Elemento destinado a permitir a identificação dos diversos tipos de documentos de identificação existentes. Trata-se de enumeração dos seguintes tipos: - CI: carteira de identidade - CNH: carteira nacional de habilitação - TE: título de eleitor - CN: certidão de nascimento - CC: certidão de casamento - PAS: passaporte - CT: carteira de trabalho - RIC: registro individual do cidadão - CMF: cadastro no Ministério da Fazenda Brasileiro - PIS_PASEP: número no programa de integração social - CEI: cadastro específico do INSS - NIT: número de identificação do trabalho - CP: cadastro em conselhos profissionais - IF: identidade funcional - OAB: número de cadastro na Ordem dos Advogados do Brasil - RJC: número de inscrição empresarial; - RGE: registro de identificação do estrangeiro
</documentation>
</annotation>
<restriction base="string">
<enumeration value="CI"/>
<enumeration value="CNH"/>
<enumeration value="TE"/>
<enumeration value="CN"/>
<enumeration value="CC"/>
<enumeration value="PAS"/>
<enumeration value="CT"/>
<enumeration value="RIC"/>
<enumeration value="CMF"/>
<enumeration value="PIS_PASEP"/>
<enumeration value="CEI"/>
<enumeration value="NIT"/>
<enumeration value="CP"/>
<enumeration value="IF"/>
<enumeration value="OAB"/>
<enumeration value="RJC"/>
<enumeration value="RGE"/>
</restriction>
</simpleType>
<complexType name="tipoDocumentoIdentificacao">
<annotation>
<documentation>
Tipo destinado a permitir a criação de documentos identificadores de uma determinada pessoa.
</documentation>
</annotation>
<attribute name="codigoDocumento" type="string" use="required">
<annotation>
<documentation>
Sequência de caracteres que tornam único o documento descrito sem os separadores característicos.
</documentation>
</annotation>
</attribute>
<attribute name="emissorDocumento" type="string" use="required">
<annotation>
<documentation> Órgão emissor do documento de identificação. </documentation>
</annotation>
</attribute>
<attribute name="tipoDocumento" type="cnj:modalidadeDocumentoIdentificador" use="required">
<annotation>
<documentation>
Tipo do documento, conforme emuneração existente no tipo "tipoDocumento".
</documentation>
</annotation>
</attribute>
<attribute name="nome" type="string" use="optional">
<annotation>
<documentation>
Nome existente no documento. Deve ser utilizado apenas se existente nome diverso daquele ordinariamente usado.
</documentation>
</annotation>
</attribute>
</complexType>
<complexType name="tipoPessoa">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a individualização de uma pessoa física ou jurídica.
</documentation>
</annotation>
<sequence>
<element name="dadosBasicos" type="cnj:tipoPessoaSimples" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Dados básicos da pessoa individualizada: nome, tipo e número do documento principal.
</documentation>
</annotation>
</element>
<element name="outroNome" type="string" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a permitir a inclusão de outros nomes da pessoa individualizada. Devem ser incluídos sob esse elemento os nomes que NÃO constam em documentos específicos. Em caso de nomes divergentes do principal existentes em documentos específicos, esses nomes devem ser indicados no atributo pertinente do documento.
</documentation>
</annotation>
</element>
<element name="dataNascimento" type="cnj:tipoData" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Data de criação da pessoa jurídica ou de nascimento da pessoa individualizada no formato AAAAMMDD.
</documentation>
</annotation>
</element>
<element name="dataObito" type="cnj:tipoData" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Data de encerramento da pessoa jurídica ou de morte da pessoa individualizada no formato AAAAMMDD.
</documentation>
</annotation>
</element>
<element name="sexo" type="cnj:modalidadeGeneroPessoa" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Sexo da pessoa </documentation>
</annotation>
</element>
<element name="nomeGenitor" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation> Nome do pai da pessoa individualizada. </documentation>
</annotation>
</element>
<element name="nomeGenitora" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation> Nome da mãe da pessoa individualizada. </documentation>
</annotation>
</element>
<element name="documento" type="cnj:tipoDocumentoIdentificacao" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento que permite a inclusão de um ou mais documentos identificadores vinculados à pessoa individualizada.
</documentation>
</annotation>
</element>
<element name="cidadeNatural" type="cnj:tipoCidade" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Cidade de nascimento da pessoa individualizada. O atributo é opcional.
</documentation>
</annotation>
</element>
<element name="nacionalidade" minOccurs="0" maxOccurs="1" default="BR">
<annotation>
<documentation>
País da nacionalidade da pessoa individualizada, no formato ISO-3166-1-alpha-2 (http://www.iso.org/iso/english_country_names_and_code_elements). O elemento é opcional e o seu valor padrão é 'BR'.
</documentation>
</annotation>
<simpleType>
<restriction base="string">
<pattern value="[A-Za-z]{2}"/>
</restriction>
</simpleType>
</element>
<element name="endereco" type="cnj:tipoEndereco" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento que permite a indicação de endereços conhecidos da pessoa individualizada.
</documentation>
</annotation>
</element>
<element minOccurs="0" maxOccurs="unbounded" name="pessoaRelacionada" nillable="true" type="cnj:tipoRelacionamentoPessoal">
<annotation>
<documentation>
Indicação da existência de um relacionamento pessoal independente de uma relação processual. Exemplo: tutoria legal, curadoria, sucessão etc.
</documentation>
</annotation>
</element>
<element minOccurs="0" name="pessoaVinculada" type="cnj:tipoPessoa">
<annotation>
<documentation>
Indicação da existência de um relacionamento entre uma autoridade e uma pessoa jurídica ou ente que ela representa. Exemplo: a escola é vinculada a seu diretor ou reitor
</documentation>
</annotation>
</element>
<element name="escolaridade" type="cnj:tipoNivelEscolaridade" minOccurs="0" maxOccurs="1">
<annotation>
<documentation> Indicação do nível de escolaridade da pessoa. </documentation>
</annotation>
</element>
<element name="qualificacaoPessoa" type="cnj:modalidadeQualificacaoPessoa" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Indicação da qualificação do tipo de pessoa, se física ('fisica') ou jurídica ('juridica').
</documentation>
</annotation>
</element>
<choice minOccurs="1" maxOccurs="1">
<element name="numeroDocumentoPrincipal" type="cnj:tipoCadastroIdentificador">
<annotation>
<documentation>
Número do documento principal da pessoa individualizada, devendo ser utilizado o RIC ou o CPF para pessoas físicas, nessa ordem, ou o CNPJ para pessoas jurídicas. O atributo é opcional em razão da possibilidade de haver pessoas sem documentos ou cujos dados não estão disponíveis.
</documentation>
</annotation>
</element>
<element name="justificativaAusenciaDocumentoPrincipal" type="string">
<annotation>
<documentation>
Justificativa para a ausência de documento principal. Pode ser pela própria natureza da pessoa, nos casos em que sua qualificação for 'autoridade', 'ente despersonalizado' (caso dos espólios ou massa falida), ou pela ausência/ desconhecimento de documento de identificação da pessoa, tais como menor, indígena, pessoas não identificadas em geral. Tal elemento visa atender ao disposto no Provimento CNJ 61/2017.
</documentation>
</annotation>
</element>
</choice>
<any namespace="##other" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Ponto de extensão destinado a permitir a inclusão de documentos estruturados.
</documentation>
</annotation>
</any>
</sequence>
</complexType>
<complexType name="tipoPessoaSimples">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a individualização de uma pessoa física ou jurídica de modo simplificado, ou seja, somente a quantidade de atributos suficientes para sua identificação.
</documentation>
</annotation>
<sequence>
<element name="nome" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Nome da pessoa individualizada. Deve ser utilizado, sempre que possível, o nome disponível no registro individual do cidadão, se disponível, ou no cadastro do Ministério da Fazenda, nessa ordem de preferência.
</documentation>
</annotation>
</element>
<element name="qualificacaoPessoa" type="cnj:modalidadeQualificacaoPessoa" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Indicação da qualificação do tipo de pessoa, se física ('fisica') ou jurídica ('juridica').
</documentation>
</annotation>
</element>
<choice minOccurs="1" maxOccurs="1">
<element name="numeroDocumentoPrincipal" type="cnj:tipoCadastroIdentificador">
<annotation>
<documentation>
Número do documento principal da pessoa individualizada, devendo ser utilizado o RIC ou o CPF para pessoas físicas, nessa ordem, ou o CNPJ para pessoas jurídicas. O atributo é opcional em razão da possibilidade de haver pessoas sem documentos ou cujos dados não estão disponíveis.
</documentation>
</annotation>
</element>
<element name="justificativaAusenciaDocumentoPrincipal" type="string">
<annotation>
<documentation>
Justificativa para a ausência de documento principal. Pode ser pela própria natureza da pessoa, nos casos em que sua qualificação for 'autoridade', 'ente despersonalizado' (caso dos espólios ou massa falida), ou pela ausência/ desconhecimento de documento de identificação da pessoa, tais como menor, indígena, pessoas não identificadas em geral. Tal elemento visa atender ao disposto no Provimento CNJ 61/2017.
</documentation>
</annotation>
</element>
</choice>
</sequence>
</complexType>
<complexType name="tipoRepresentanteProcessual">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a identificação de um advogado inscrito na Ordem dos Advogados do Brasil, de um escritório de advocacia inscrito ou de um órgão de representação processual (advocacia pública, MP e defensoria pública).
</documentation>
</annotation>
<sequence>
<element name="endereco" type="cnj:tipoEndereco" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Endereço pertinente ao advogado. Pode ser indicado mais de um.
</documentation>
</annotation>
</element>
</sequence>
<attribute name="nome" type="string" use="required">
<annotation>
<documentation>
Nome do advogado ou do escritório de advocacia ou órgão de representação processual (MP, advocacia pública ou defensoria pública. A identificação relativa a se tratar de advogado ou de escritório de advocacia será feita pelo numeroDocumentoPrincipal, caso se trate de CPF, deverá ser tratado como advogado, caso se trate de CNPJ, como escritório de advocacia ou órgão de representação de interesses (MP, advocacia pública e defensoria pública).
</documentation>
</annotation>
</attribute>
<attribute name="inscricao" type="cnj:tipoCadastroOAB" use="optional">
<annotation>
<documentation>
Inscrição do advogado ou escritório de advocacia no cadastro da Ordem dos Advogados do Brasil. O campo deve ser preenchido no formato CCDDDDDDDC, sendo os primeiros 'C' dois caracteres indicativos da unidade federativa brasileira em que há a inscrição, os sete digitos 'D' seguintes o número da inscrição, devendo incluir zeros ('0') à esquerda caso o número tenha menos de 7 dígitos e o último caracter a letra identificadora do tipo de inscrição.
</documentation>
</annotation>
</attribute>
<attribute name="numeroDocumentoPrincipal" type="string" use="optional">
<annotation>
<documentation>
O número RIC ou o CPF, para advogados, ou o CNPJ, para escritórios de advocacia e órgãos de representação processual (MP, advocacia pública e defensoria pública).
</documentation>
</annotation>
</attribute>
<attribute name="intimacao" type="boolean" use="required">
<annotation>
<documentation>
Indicativo verdadeiro (true) ou falso (false) relativo à escolha de o advogado, escritório ou órgão de representação ser o(s) preferencial(is) para a realização de intimações.
</documentation>
</annotation>
</attribute>
<attribute name="tipoRepresentante" use="required" type="cnj:modalidadeRepresentanteProcessual">
<annotation>
<documentation>
Atributo que permite indicar o tipo de representante processual, se advogado ('A'), escritório de advocacia ('E'), ministério público ('M'), defensoria pública ('D') ou outros órgãos de representação processual pública (advocacia pública em geral, 'P').
</documentation>
</annotation>
</attribute>
</complexType>
<simpleType name="modalidadeRepresentanteProcessual">
<annotation>
<documentation>
Atributo que permite indicar o tipo de representante processual, se advogado ('A'), escritório de advocacia ('E'), ministério público ('M'), defensoria pública ('D') ou outros órgãos de representação processual pública (advocacia pública em geral, 'P').
</documentation>
</annotation>
<restriction base="string">
<enumeration value="A"/>
<enumeration value="E"/>
<enumeration value="M"/>
<enumeration value="D"/>
<enumeration value="P"/>
</restriction>
</simpleType>
<complexType name="tipoParte">
<annotation>
<documentation>
Tipo de elemento que permite a identificação de uma parte que compõe o processo. Cada parte deve ter apenas uma pessoa física ou jurídica.
</documentation>
</annotation>
<sequence>
<choice minOccurs="1" maxOccurs="1">
<element name="pessoa" type="cnj:tipoPessoa">
<annotation>
<documentation> Pessoa que compõe essa parte. </documentation>
</annotation>
</element>
<element name="interessePublico" type="boolean">
<annotation>
<documentation>
Elemento destinado a identificar se esta parte representa, em verdade, um interesse público abstrato cuja defesa está a cargo do Ministério Público ou da Defensoria Pública. Caso esteja presente, essa parte será tida como mero interesse público, tal como acontece nos processos propostos pelo MP, pela Defensoria Pública no caso de exercício de ações coletivas e de inquéritos.
</documentation>
</annotation>
</element>
</choice>
<element name="advogado" type="cnj:tipoRepresentanteProcessual" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Advogado, escritório ou entidade de representação processual que atua em favor ou em nome desta parte.
</documentation>
</annotation>
</element>
<element name="pessoaProcessualRelacionada" type="cnj:tipoParte" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Pessoa relacionada com a parte em situações como as de representação e assistência dos pais, representação ou substituição processual em ações coletivas, tutela e curatela.
</documentation>
</annotation>
</element>
<element name="assistenciaJudiciaria" type="boolean" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Indicação se a parte pediu ou teve concedida assistência judiciária gratuita. Em caso positivo, marcar com 'true'; em caso negativo, com 'false'.
</documentation>
</annotation>
</element>
<element name="intimacaoPendente" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Indicativo da existência de intimações pendentes para essa parte.
</documentation>
</annotation>
<simpleType>
<restriction base="int">
<minInclusive value="0"/>
</restriction>
</simpleType>
</element>
<element name="relacionamentoProcessual" type="cnj:modalidadeRelacionamentoProcessual" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo facultativo destinado a permitir que se indique a modalidade de relacionamento existente entre esta parte e outra parte que a ela está ligada, quando não se trata de um relacionamento de representação de advogado. Pode ser: CP (curador processual); RP (representante processual); TF (testemunha de fato); AT (assistente técnico); AS (assistente).
</documentation>
</annotation>
</element>
<element name="situacao" type="cnj:modalidadeSituacaoParte" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Situação da parte no processo. </documentation>
</annotation>
</element>
<element name="complemento" type="string" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a registrar informações complementares de qualquer natureza a respeito da parte.
</documentation>
</annotation>
</element>
<any namespace="##other" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Ponto de extensão destinado a permitir o envio e recebimento de informações adicionais estruturadas.
</documentation>
</annotation>
</any>
</sequence>
</complexType>
<simpleType name="modalidadeRelacionamentoPessoal">
<annotation>
<documentation>
Destinado a permitir identificar qual o relacionamento existente entre uma parte processual (pessoa) e outra pessoa. Por meio disso é que se permite conhecer se é caso de: - 'P': representação legal de ascendente (pais); - 'AP': assistência dos pais - 'SP': substituição ou representação processual nos casos de ações coletivas - 'T': tutoria - 'C': curadoria
</documentation>
</annotation>
<restriction base="string">
<enumeration value="P"/>
<enumeration value="AP"/>
<enumeration value="SP"/>
<enumeration value="T"/>
<enumeration value="C"/>
</restriction>
</simpleType>
<simpleType name="modalidadePoloProcessual">
<annotation>
<documentation>
Tipo destinado a permitir a identificação do tipo de polo processual. Deve ser definido usando um dos seguintes códigos: - AT: polo ativo - PA: polo passivo - TC: terceiro - FL: fiscal da lei diverso - TJ: testemunha do juízo - AD: assistente simples desinteressado (amicus curiae) - VI: vítima
</documentation>
</annotation>
<restriction base="string">
<enumeration value="AT"/>
<enumeration value="PA"/>
<enumeration value="TC"/>
<enumeration value="FL"/>
<enumeration value="TJ"/>
<enumeration value="AD"/>
<enumeration value="VI"/>
</restriction>
</simpleType>
<complexType name="tipoPoloProcessual">
<annotation>
<documentation>
Tipo destinado a permitir a identificação do polo ocupado por uma determinada parte no processo judicial.
</documentation>
</annotation>
<sequence>
<element name="parte" type="cnj:tipoParte" maxOccurs="unbounded" minOccurs="1"/>
</sequence>
<attribute name="polo" type="cnj:modalidadePoloProcessual" use="required">
<annotation>
<documentation>
Atributo destinado destinado a permitir a identificação do tipo de polo processual. Deve ser definido usando um dos seguintes códigos: - AT: polo ativo - PA: polo passivo - TC: terceiro - FL: fiscal da lei diverso - TJ: testemunha do juízo - AD: assistente simples desinteressado (amicus curiae) - VI: vítima
</documentation>
</annotation>
</attribute>
</complexType>
<complexType name="tipoHistoricoRemessa">
<annotation>
<documentation>
Tipo destinado a permitir a listagem do histórico do protocolo de uma operação de remessa.
</documentation>
</annotation>
<sequence>
<element name="numeroProtocolo" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Número do protocolo de uma operação de remessa realizada.
</documentation>
</annotation>
</element>
<element name="numeroProcesso" type="cnj:tipoNumeroUnico" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Número do processo judicial, conforme a Resolução 65.
</documentation>
</annotation>
</element>
<element name="situacao" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Atributo indicador da situação do protocolo. </documentation>
</annotation>
<simpleType>
<restriction base="string">
<enumeration value="ABERTO">
<annotation>
<documentation> Protocolo em situação normal de processamento. </documentation>
</annotation>
</enumeration>
<enumeration value="SUSPENSO">
<annotation>
<documentation>
Protocolo suspenso por solicitação ou impossibilidade de processamento.
</documentation>
</annotation>
</enumeration>
<enumeration value="CANCELADO">
<annotation>
<documentation> Protocolo cancelado. </documentation>
</annotation>
</enumeration>
<enumeration value="CONCLUIDO">
<annotation>
<documentation> Protocolo cujo processamento foi concluído. </documentation>
</annotation>
</enumeration>
</restriction>
</simpleType>
</element>
<element name="dataCriacao" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Indica a data em que o protocolo foi criado. </documentation>
</annotation>
</element>
<element name="dataAtualizacao" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Indica a data da última atualização no processamento do protocolo.
</documentation>
</annotation>
</element>
<element name="mensagens" type="cnj:tipoMensagemResposta" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Lista de mensagens relativas ao processamento do protocolo.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoAssuntoProcessual">
<annotation>
<documentation>
Tipo destinado a permitir a identificação de um assunto processual.
</documentation>
</annotation>
<choice>
<element name="codigoNacional" type="int" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Elemento destinado a que se informe o código de assunto existente na tabela nacional unificada decorrente da Resolução 65.
</documentation>
</annotation>
</element>
<element name="assuntoLocal" type="cnj:tipoAssuntoLocal">
<annotation>
<documentation>
Elemento destinado a que se possa informar um assunto criado localmente, ou seja, que não faz parte da tabela nacional unificada criada pela Resolução 65.
</documentation>
</annotation>
</element>
</choice>
<attribute name="principal" type="boolean" use="optional" default="false">
<annotation>
<documentation>
Atributo que informa se o assunto referido é o assunto principal do processo.
</documentation>
</annotation>
</attribute>
</complexType>
<complexType name="tipoAssuntoLocal">
<annotation>
<documentation>
Tipo de elemento destinado a permitir prestar informações relativas a assuntos criados localmente pelo tribunal.
</documentation>
</annotation>
<sequence>
<element name="assuntoLocalPai" type="cnj:tipoAssuntoLocal" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Assunto local que é o pai imediato deste assunto, se o pai não for nacional.
</documentation>
</annotation>
</element>
</sequence>
<attribute name="codigoAssunto" type="int" use="required">
<annotation>
<documentation>
Atributo destinado a incluir a informação relativa ao código numérico utilizado localmente pelo tribunal.
</documentation>
</annotation>
</attribute>
<attribute name="codigoPaiNacional" type="int" use="required">
<annotation>
<documentation>
Atributo destinado à entrada do código de assunto nacional de que o assunto local é filho.
</documentation>
</annotation>
</attribute>
<attribute name="descricao" type="string" use="required">
<annotation>
<documentation>
Atributo destinado à entrada da descrição textual do assunto local.
</documentation>
</annotation>
</attribute>
</complexType>
<complexType name="tipoParametro">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a inclusão de parâmetros na forma nome/valor, sendo nome e valor, atributos do elemento.
</documentation>
</annotation>
<attribute name="nome" type="string" use="required">
<annotation>
<documentation> Atributo indicativo do nome deste parâmetro. </documentation>
</annotation>
</attribute>
<attribute name="valor" type="string">
<annotation>
<documentation> Atributo indicativo do valor deste parâmetro. </documentation>
</annotation>
</attribute>
</complexType>
<simpleType name="modalidadeVinculacaoProcesso">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a identificação entre processos judiciais. As vinculações podem ser: - 'AP': apenso - 'AR': ação rescisória - 'CD': competência delegada - 'CT': continência - 'CX': conexão - 'DP': dependência - 'OG': originário - 'OR': outro tipo de associação que não os anteriores - 'PU': precedente de uniformização - 'RG': repercussão geral - 'RR': recurso repetitivo
</documentation>
</annotation>
<restriction base="string">
<enumeration value="AP"/>
<enumeration value="AR"/>
<enumeration value="CD"/>
<enumeration value="CT"/>
<enumeration value="CX"/>
<enumeration value="DP"/>
<enumeration value="OG"/>
<enumeration value="OR"/>
<enumeration value="PU"/>
<enumeration value="RG"/>
<enumeration value="RR"/>
</restriction>
</simpleType>
<complexType name="tipoVinculacaoProcessual">
<annotation>
<documentation>
Tipo de elemento que permite informar uma vinculação entre um processo judicial e outro.
</documentation>
</annotation>
<attribute name="numeroProcesso" type="cnj:tipoNumeroUnico" use="required">
<annotation>
<documentation> </documentation>
</annotation>
</attribute>
<attribute name="vinculo" type="cnj:modalidadeVinculacaoProcesso" use="required">
<annotation>
<documentation>
Indicação da qualidade do vínculo mantido com o processo indicado neste elemento. As vinculações podem ser: - 'AP': apenso - 'AR': ação rescisória - 'CD': competência delegada - 'CT': continência - 'CX': conexão - 'DP': dependência - 'OG': originário - 'OR': outro tipo de vinculação - 'PU': precedente de uniformização - 'RG': repercussão geral - 'RR': recurso repetitivo
</documentation>
</annotation>
</attribute>
</complexType>
<simpleType name="tipoNumeroUnico">
<annotation>
<documentation>
Tipo de elemento que limita a indicação de um número de processo ao padrão da numeração única.
</documentation>
</annotation>
<restriction base="string">
<pattern value="\d{20}"/>
</restriction>
</simpleType>
<complexType name="tipoCabecalhoProcesso">
<sequence>
<element name="dadosBasicos" type="cnj:tipoCabecalhoProcessoSimples" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Dados básicos do cabeçalho do processo. </documentation>
</annotation>
</element>
<element name="competencia" type="int" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Identificador da competência a que pertence o processo, ou da competência a que ele se destina caso se trate de processo inicial
</documentation>
</annotation>
</element>
<element name="classeProcessual" type="int" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Código da classe processual conforme Resolução 46. </documentation>
</annotation>
</element>
<element name="codigoLocalidade" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Código identificador da localidade a que pertence ou deve pertencer o processo. O atributo é obrigatório, especialmente para permitir a distribuição de processos iniciais por meio do uso desse serviço.
</documentation>
</annotation>
</element>
<element name="nivelSigilo" type="cnj:tipoNivelSigilo" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Nível de sigilo a ser aplicado ao processo. Dever-se-á utilizar os seguintes níveis: - 0: públicos, acessíveis a todos os servidores do Judiciário e dos demais órgãos públicos de colaboração na administração da Justiça, assim como aos advogados e a qualquer cidadão - 1: segredo de justiça, acessíveis aos servidores do Judiciário, aos servidores dos órgãos públicos de colaboração na administração da Justiça e às partes do processo. - 2: sigilo mínimo, acessível aos servidores do Judiciário e aos demais órgãos públicos de colaboração na administração da Justiça - 3: sigilo médio, acessível aos servidores do órgão em que tramita o processo, à(s) parte(s) que provocou(ram) o incidente e àqueles que forem expressamente incluídos - 4: sigilo intenso, acessível a classes de servidores qualificados (magistrado, diretor de secretaria/escrivão, oficial de gabinete/assessor) do órgão em que tramita o processo, às partes que provocaram o incidente e àqueles que forem expressamente incluídos - 5: sigilo absoluto, acessível apenas ao magistrado do órgão em que tramita, aos servidores e demais usuários por ele indicado e às partes que provocaram o incidente.
</documentation>
</annotation>
</element>
<element name="intervencaoMP" type="boolean" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo destinado a identificar que o processo exige a intervenção do Ministério Público.
</documentation>
</annotation>
</element>
<element name="tamanhoProcesso" type="int" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Volume, em bytes, dos documentos existentes no processo judicial.
</documentation>
</annotation>
</element>
<element name="dataAjuizamento" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Indica a data em que o processo foi inicialmente recebido pelo Poder Judiciário no órgão consultado. Caso se trate de instância recursal, especial ou extraordinária, deve refletir a data de entrada do processo nessa instância.
</documentation>
</annotation>
</element>
<element name="polo" type="cnj:tipoPoloProcessual" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation> Polos componentes do processo judicial. </documentation>
</annotation>
</element>
<element name="assunto" type="cnj:tipoAssuntoProcessual" minOccurs="1" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a permitir a inclusão dos códigos de assuntos processuais vinculados.
</documentation>
</annotation>
</element>
<element name="magistradoAtuante" type="cnj:tipoCadastroIdentificador" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a permitir a identificação de zero ou mais magistrados que tenham atuado no processo em referência proferindo julgamentos ou decisões conforme Resolução CNJ 46.
</documentation>
</annotation>
</element>
<element name="processoVinculado" type="cnj:tipoVinculacaoProcessual" maxOccurs="unbounded" minOccurs="0">
<annotation>
<documentation>
Elemento destinado a permitir a indicação da existência de um ou mais processos judiciais vinculados.
</documentation>
</annotation>
</element>
<element name="prioridade" type="cnj:modalidadePrioridade" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Tipo de prioridade. São valores possíveis: - IDOSO: Idoso - REU_PRESO: Réu preso - PERECIMENTO: Perecimento - MENOR: Menor de idade
</documentation>
</annotation>
</element>
<element name="outroParametro" type="cnj:tipoParametro" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a permitir a inclusão de parâmetros específicos do processo.
</documentation>
</annotation>
</element>
<element minOccurs="0" name="valorCausa" type="double">
<annotation>
<documentation> Valor da causa. </documentation>
</annotation>
</element>
<element name="orgaoJulgador" type="cnj:tipoOrgaoJulgador" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Órgão julgador responsável atualmente pelo processo no órgão consultado.
</documentation>
</annotation>
</element>
<element name="outrosNumeros" type="string" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Outros números que o processo possa ter recebido durante sua vida.
</documentation>
</annotation>
</element>
<element name="processoFisico" type="boolean" minOccurs="0" maxOccurs="1" default="false">
<annotation>
<documentation>
Atributo destinado a identificar se um processo é físico ou eletrônico.
</documentation>
</annotation>
</element>
<element name="pedidoLiminarPendente" type="boolean" minOccurs="0" maxOccurs="1" default="false">
<annotation>
<documentation>
Atributo destinado a identificar a existência de pedido de liminar pendente de análise.
</documentation>
</annotation>
</element>
<element name="historicoDeslocamento" type="cnj:tipoHistoricoDeslocamento" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Atributo destinado a informar o trâmite do processo pelas unidades judiciárias.
</documentation>
</annotation>
</element>
<any namespace="##other" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Ponto de extensão destinado a informações específicas de ramos de Justiça ou de natureza material singular.
</documentation>
</annotation>
</any>
</sequence>
</complexType>
<complexType name="tipoCabecalhoProcessoSimples">
<annotation>
<documentation>
Tipo de elemento destinado a representar os dados básicos do cabeçalho do processo: número, localidade, classe, assuntos e órgão julgador.
</documentation>
</annotation>
<sequence>
<element name="numero" type="cnj:tipoNumeroUnico" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Número do processo judicial, no formado da numeração única determinado pela Resolução 65. Caso se trate de processo inicial, deverá ser utilizado o número '00000000000000000000'
</documentation>
</annotation>
</element>
<element name="classeProcessual" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Código da classe processual conforme Resolução 46. </documentation>
</annotation>
<simpleType>
<restriction base="int">
<minInclusive value="1"/>
</restriction>
</simpleType>
</element>
<element name="orgaoJulgador" type="cnj:tipoOrgaoJulgador" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Órgão julgador responsável atualmente pelo processo no órgão consultado.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<simpleType name="tipoComplemento">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a inclusão de complementos de movimentações processuais.
</documentation>
</annotation>
<restriction base="string"/>
</simpleType>
<complexType name="tipoMovimentoLocal">
<annotation>
<documentation>
Tipo de elemento destinado a permitir prestar informações relativas a movimentos criados localmente pelo tribunal.
</documentation>
</annotation>
<sequence>
<element name="movimentoLocalPai" type="cnj:tipoMovimentoLocal" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Movimento local pai, se não se tratar de movimento nacional.
</documentation>
</annotation>
</element>
</sequence>
<attribute name="codigoMovimento" type="int" use="required">
<annotation>
<documentation>
Atributo destinado a incluir a informação relativa ao código numérico utilizado localmente pelo tribunal.
</documentation>
</annotation>
</attribute>
<attribute name="codigoPaiNacional" type="int" use="required">
<annotation>
<documentation>
Atributo destinado à entrada do código de movimento nacional de que o movimento local é filho.
</documentation>
</annotation>
</attribute>
<attribute name="descricao" type="string" use="required">
<annotation>
<documentation>
Atributo destinado à entrada da descrição textual do movimento local.
</documentation>
</annotation>
</attribute>
</complexType>
<complexType name="tipoMovimentoProcessual">
<annotation>
<documentation>
Tipo de elemento destinado a permitir apresentar informações relativas à movimentação processual.
</documentation>
</annotation>
<sequence>
<element name="complemento" type="string" maxOccurs="unbounded" minOccurs="0">
<annotation>
<documentation>
Elemento destinado a permitir a inclusão dos complementos de movimentação.
</documentation>
</annotation>
</element>
<choice>
<element name="movimentoNacional" type="cnj:tipoMovimentoNacional" maxOccurs="1" minOccurs="1">
<annotation>
<documentation>
Elemento destinado à identificação de um movimento previsto na tabela unificada da Resolução 65
</documentation>
</annotation>
</element>
<element name="movimentoLocal" type="cnj:tipoMovimentoLocal" maxOccurs="1" minOccurs="1">
<annotation>
<documentation>
Elemento destinado à identificação de um movimento criado localmente conforme autorizado pela Resolução 65
</documentation>
</annotation>
</element>
</choice>
<element name="idDocumentoVinculado" type="string" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a permitir a vinculação de um ou mais documentos à movimentação.
</documentation>
</annotation>
</element>
</sequence>
<attribute name="dataHora" type="cnj:tipoDataHora" use="required">
<annotation>
<documentation>
Atributo destinado a indicar o momento em que foi realizada a movimentação.
</documentation>
</annotation>
</attribute>
<attribute name="nivelSigilo" type="cnj:tipoNivelSigilo" use="optional">
<annotation>
<documentation>
Nível de sigilo a ser aplicado ao processo. Dever-se-á utilizar os seguintes níveis: - 0: públicos, acessíveis a todos os servidores do Judiciário e dos demais órgãos públicos de colaboração na administração da Justiça, assim como aos advogados e a qualquer cidadão - 1: segredo de justiça, acessíveis aos servidores do Judiciário, aos servidores dos órgãos públicos de colaboração na administração da Justiça e às partes do processo. - 2: sigilo mínimo, acessível aos servidores do Judiciário e aos demais órgãos públicos de colaboração na administração da Justiça - 3: sigilo médio, acessível aos servidores do órgão em que tramita o processo, à(s) parte(s) que provocou(ram) o incidente e àqueles que forem expressamente incluídos - 4: sigilo intenso, acessível a classes de servidores qualificados (magistrado, diretor de secretaria/escrivão, oficial de gabinete/assessor) do órgão em que tramita o processo, às partes que provocaram o incidente e àqueles que forem expressamente incluídos - 5: sigilo absoluto, acessível apenas ao magistrado do órgão em que tramita, aos servidores e demais usuários por ele indicado e às partes que provocaram o incidente.
</documentation>
</annotation>
</attribute>
<attribute name="idMovimento" type="string" use="optional">
<annotation>
<documentation>
Atributo incluído para permitir a atribuição de um identificador específico para a movimentação realizada em um determinado processo judicial.
</documentation>
</annotation>
</attribute>
</complexType>
<complexType name="tipoMovimentoNacional">
<annotation>
<documentation>
Tipo de elemento que permite a indicação da realização de um movimento existente na tabela unificada de que trata a Resolução 46.
</documentation>
</annotation>
<sequence>
<element name="complemento" type="cnj:tipoComplemento" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a permitir a inclusão do complemento da movimentação, em formato de texto.
</documentation>
</annotation>
</element>
</sequence>
<attribute name="codigoNacional" type="int" use="required">
<annotation>
<documentation>
Atributo destinado à indicação do código do movimento previsto na tabela unificada de que trata a Resolução 46.
</documentation>
</annotation>
</attribute>
</complexType>
<complexType name="tipoDocumento">
<annotation>
<documentation>
Tipo de elemento destinado à transferência ou à viabilização de transferência de documento processual.
</documentation>
</annotation>
<sequence>
<element name="idDocumento" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Identificador do documento. </documentation>
</annotation>
</element>
<element name="idDocumentoVinculado" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Identificador do documento ao qual é vinculado este documento.
</documentation>
</annotation>
</element>
<element name="codigoTipoDocumento" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Atributo destinado a permitir a indicação do código nacional do tipo de documento que está sendo enviado. O tipo aqui indicado deve ser um dos tipos de documento ou tipos de petição previstos nas tabelas de complementos da Resolução CNJ 46. Os tipos podem ser encontrados em http://www.cnj.jus.br/sgt/gerenciar_complementos.php. Na página, pesquisar por "tipo_de_documento" e "tipo_de_peticao" para acesso à lista completa. O código do tipo deve, necessariamente, ser informado.
</documentation>
</annotation>
<simpleType>
<restriction base="int">
<minInclusive value="1"/>
</restriction>
</simpleType>
</element>
<element name="dataHora" type="cnj:tipoDataHora" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo destinado a permitir a informação do momento em que o documento foi recebido pelo Poder Judiciário. É opcional no caso de documento enviado para protocolo.
</documentation>
</annotation>
</element>
<element name="nivelSigilo" type="int" minOccurs="0" maxOccurs="1" default="0">
<annotation>
<documentation>
Nível de sigilo a ser aplicado ao documento. Dever-se-á utilizar os seguintes níveis: - 0: públicos, acessíveis a todos os servidores do Judiciário e dos demais órgãos públicos de colaboração na administração da Justiça, assim como aos advogados e a qualquer cidadão - 1: segredo de justiça, acessíveis aos servidores do Judiciário, aos servidores dos órgãos públicos de colaboração na administração da Justiça e às partes do processo. - 2: sigilo mínimo, acessível aos servidores do Judiciário e aos demais órgãos públicos de colaboração na administração da Justiça - 3: sigilo médio, acessível aos servidores do órgão em que tramita o processo, à(s) parte(s) que provocou(ram) o incidente e àqueles que forem expressamente incluídos - 4: sigilo intenso, acessível a classes de servidores qualificados (magistrado, diretor de secretaria/escrivão, oficial de gabinete/assessor) do órgão em que tramita o processo, às partes que provocaram o incidente e àqueles que forem expressamente incluídos - 5: sigilo absoluto, acessível apenas ao magistrado do órgão em que tramita, aos servidores e demais usuários por ele indicado e às partes que provocaram o incidente.
</documentation>
</annotation>
</element>
<element name="idMovimento" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo destinado a permitir a identificação do movimento relacionado com a produção deste documento.
</documentation>
</annotation>
</element>
<element name="descricao" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Descrição do documento elaborada pelo peticionante.
</documentation>
</annotation>
</element>
<element name="codigoTipoDocumentoLocal" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation> Indica o código local do tipo deste documento. </documentation>
</annotation>
</element>
<element name="conteudo" type="cnj:tipoConteudoDocumento" minOccurs="0" maxOccurs="1">
<annotation>
<documentation> Conteúdo do documento. </documentation>
</annotation>
</element>
<element name="documentoVinculado" minOccurs="0" maxOccurs="unbounded" type="cnj:tipoDocumento">
<annotation>
<documentation> Documento vinculado a este documento </documentation>
</annotation>
</element>
<element name="unidadeJudiciaria" minOccurs="0" maxOccurs="1" type="cnj:tipoUnidadeJudiciaria">
<annotation>
<documentation>
Unidade judiciária responsável pela juntada do documento.
</documentation>
</annotation>
</element>
<element name="tamanhoConteudo" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Quantidade aproximada, em bytes, do conteúdo do documento.
</documentation>
</annotation>
<simpleType>
<restriction base="long">
<minInclusive value="1"/>
</restriction>
</simpleType>
</element>
<element name="outroParametro" type="cnj:tipoParametro" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a permitir a inclusão de parâmetros variados do tipo nome/valor.
</documentation>
</annotation>
</element>
<any namespace="##other" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Ponto de extensão destinado a permitir o envio e recebimento de documentos estruturados.
</documentation>
</annotation>
</any>
</sequence>
</complexType>
<complexType name="tipoConteudoDocumento">
<annotation>
<documentation>
Tipo de elemento destinado à transferência ou à viabilização de transferência do conteúdo do documento processual.
</documentation>
</annotation>
<sequence>
<element name="idDocumento" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Identificador do documento. </documentation>
</annotation>
</element>
<element name="mimetype" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Atributo destinado a auxiliar as aplicações a identificar o conteúdo do documento quando se tratar de documento binário. Os entes que implementam o modelo devem aceitar, no mínimo, os tipos "application/pdf" e "text/html".
</documentation>
</annotation>
</element>
<element name="encoding" type="string" minOccurs="0" maxOccurs="1" default="UTF-8">
<annotation>
<documentation>
Elemento opcional destinado a descrever a codificação de caracteres do documento binário, como 'UTF-8' e 'ISO-8859-1'. Caso não informado, assume o valor 'UTF-8' como padrão.
</documentation>
</annotation>
</element>
<element name="hash" type="cnj:tipoHash" minOccurs="0" maxOccurs="1">
<annotation>
<documentation> Resumo matemático do documento. </documentation>
</annotation>
</element>
<element name="conteudo" type="base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Elemento destinado a armazenar o conteúdo do documento em formato binário.
</documentation>
</annotation>
</element>
<element name="assinatura" type="cnj:tipoAssinatura" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Tipo de elemento destinado a permitir o armazenamento da chave pública e do hash de assinatura de um determinado documento, em formato binário.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoProcessoJudicial">
<annotation>
<documentation>
Tipo de elemento destinado a armazenar os dados de um processo judicial.
</documentation>
</annotation>
<sequence>
<choice minOccurs="1" maxOccurs="1">
<element name="numeroProcesso" type="cnj:tipoNumeroUnico" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Elemento para identificação do processo, caso não seja utilizado o elemento de dados básicos.
</documentation>
</annotation>
</element>
<element name="dadosBasicos" type="cnj:tipoCabecalhoProcesso" minOccurs="1" maxOccurs="1"/>
</choice>
<element name="movimento" type="cnj:tipoMovimentoProcessual" minOccurs="0" maxOccurs="unbounded"/>
<element name="documento" type="cnj:tipoDocumento" maxOccurs="unbounded" minOccurs="0">
<annotation>
<documentation>
Lista com zero ou mais documentos do processo judicial. Caso o tribunal tenha capacidade, poderá enviar o binário dos documentos criptografados com chave a ser fornecida quando do envio da comunicacaoProcessual.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoAvisoComunicacaoPendente">
<annotation>
<documentation>
Tipo de elemento destinado a indicar a existência de uma comunicação pendente.
</documentation>
</annotation>
<sequence>
<element name="idAviso" type="cnj:identificadorComunicacao" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Identificador do aviso de comunicação. </documentation>
</annotation>
</element>
<element name="tipoComunicacao" type="cnj:modalidadeTipoComunicacao" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Tipo de comunicação pendente de ciência. São valores possíveis: - CIT: citação - INT: intimação - NOT: notificação - VIS: vista para manifestação - URG: urgente - PTA: pauta de julgamento/audiência
</documentation>
</annotation>
</element>
<element name="destinatario" type="cnj:tipoPessoaSimples" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Destinatário da comunicação pendente. </documentation>
</annotation>
</element>
<element name="processo" type="cnj:tipoCabecalhoProcessoSimples" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Número do processo em que houve a disponibilização de intimação/citação.
</documentation>
</annotation>
</element>
<element name="remetente" type="cnj:tipoOrgaoJulgador" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Remetente da comunicação pendente. </documentation>
</annotation>
</element>
<element name="numeroProcesso" type="cnj:tipoNumeroUnico" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Número do processo em que houve a disponibilização de intimação/citação.
</documentation>
</annotation>
</element>
<element name="dataDisponibilizacao" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Momento em que foi disponibilizado o aviso de comunicação no tribunal de origem.
</documentation>
</annotation>
</element>
<element name="tipoPrazo" type="cnj:modalidadePrazo" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Atributo destinado a identificar o tipo de prazo estabelecido para resposta a esta comunicação.
</documentation>
</annotation>
</element>
<element name="prazo" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
O prazo, em unidades, estabelecido para cumprimento. No caso de DATA_CERTA e SEM_PRAZO, poderá ser omitido. No caso de DATA_CERTA, a data de referência é a data limite para cumprimento.
</documentation>
</annotation>
<simpleType>
<restriction base="int">
<minInclusive value="1"/>
</restriction>
</simpleType>
</element>
</sequence>
</complexType>
<complexType name="tipoComunicacaoProcessual">
<annotation>
<documentation>
Tipo de elemento destinado a comunicar concretamente uma providência judicial para uma parte. A dataReferencia indica o momento em que foi considerada a parte intimada, seja por provocação do intimado/citado/notificado, seja por decurso do prazo legal para tomada de ciência.
</documentation>
</annotation>
<sequence>
<element name="id" type="cnj:identificadorComunicacao" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Identificador da comunicacao processual. </documentation>
</annotation>
</element>
<element name="processo" type="cnj:tipoCabecalhoProcessoSimples" maxOccurs="1" minOccurs="1">
<annotation>
<documentation>
Dados básicos do processo em relação ao qual é feita a comunicação processual.
</documentation>
</annotation>
</element>
<element name="destinatario" type="cnj:tipoPessoaSimples" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Destinatário do ato de comunicação processual. </documentation>
</annotation>
</element>
<element name="remetente" type="cnj:tipoOrgaoJulgador" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Remetente do ato de comunicação processual. </documentation>
</annotation>
</element>
<element name="tipoComunicacao" type="cnj:modalidadeTipoComunicacao" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo destinado a identificar o tipo de comunicação realizada por este ato.
</documentation>
</annotation>
</element>
<element name="tipoPrazo" type="cnj:modalidadePrazo" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo destinado a identificar o tipo de prazo estabelecido para resposta a esta comunicação. Pode ser HOR (horas), DIA (dias), MES (meses), ANO (anos), DATA_CERTA (data certa no futuro) e SEM_PRAZO (não há conduta a ser realizada pelo intimado).
</documentation>
</annotation>
</element>
<element name="dataReferencia" type="cnj:tipoDataHora" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo indicativo do momento em que, presumivelmente, houve a concretização da comunicação processual. A implementação deve incluir nesse campo o momento (data e hora) em que a comunicação está se concretizando, mas deverá assegurar que a comunicação se complete para o registro da correspondente movimentação no processo judicial. Desse modo, assegura-se que a data de referência será mais antiga que o efetivo momento da comunicação. No caso de prazo DATA_CERTA, deverá ser a data limite para cumprimento da medida determinada.
</documentation>
</annotation>
</element>
<element name="prazo" type="int" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
O prazo, em unidades, estabelecido para cumprimento. No caso de DATA_CERTA e SEM_PRAZO, poderá ser omitido. No caso de DATA_CERTA, a data de referência é a data limite para cumprimento.
</documentation>
</annotation>
</element>
<element name="dataPrazoCalculado" type="cnj:tipoDataHora" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Atributo indicativo da data e hora do final do prazo já devidamente calculado pelo sistema de processo eletrônico. Esse valor pode ser alterado em casos de indisponibilidade do serviço, cadastro de feriado ou qualquer outro evento que altere a contagem do prazo determinada previamente. Em nova consulta feita ao MNI, nesses casos, a data deverá ser recalculada para sempre refletir a realidade.
</documentation>
</annotation>
</element>
<element name="teor" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation> Teor da comunicação processual. </documentation>
</annotation>
</element>
<element name="documento" type="cnj:tipoDocumento" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation> Documento relativo à comunicação processual. </documentation>
</annotation>
</element>
<element name="nivelSigilo" type="int" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Nível de sigilo a ser aplicado à comunicação. Dever-se-á utilizar os seguintes níveis: - 0: públicos, acessíveis a todos os servidores do Judiciário e dos demais órgãos públicos de colaboração na administração da Justiça, assim como aos advogados e a qualquer cidadão - 1: segredo de justiça, acessíveis aos servidores do Judiciário, aos servidores dos órgãos públicos de colaboração na administração da Justiça e às partes do processo. - 2: sigilo mínimo, acessível aos servidores do Judiciário, às partes que provocaram o processo e aos demais órgãos públicos de colaboração na administração da Justiça - 3: sigilo médio, acessível aos servidores do órgão em que tramita o processo, às partes que lhe deram início e àqueles que forem expressamente incluídos - 4: sigilo intenso, acessível a classes de servidores qualificados (magistrado, diretor de secretaria/escrivão, oficial de gabinete/assessor) do órgão em que tramita o processo, às partes que lhe deram início e àqueles que forem expressamente incluídos - 5: sigilo absoluto, acessível apenas ao magistrado do órgão em que tramita, aos servidores e demais usuários por ele indicados e às partes que provocaram o incidente.
</documentation>
</annotation>
</element>
<element name="parametro" type="cnj:tipoParametro" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation> Outros parâmetros úteis à comunicação. </documentation>
</annotation>
</element>
<any namespace="##other" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Ponto de extensão destinado a permitir a inclusão de documentos estruturados.
</documentation>
</annotation>
</any>
</sequence>
</complexType>
<simpleType name="modalidadeTipoComunicacao">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a identificacao do tipo de comunicação processual realizada. São valores possíveis: - CIT: citação - INT: intimação - IDP: intimação de despacho - IDC: intimação de decisão - IAD: intimação de audiência - IST: intimação de sentença - IAC: intimação de acórdão - NOT: notificação - VIS: vista para manifestação - URG: urgente - PTA: pauta de julgamento/audiência
</documentation>
</annotation>
<restriction base="string">
<enumeration value="CIT"/>
<enumeration value="INT"/>
<enumeration value="IDP"/>
<enumeration value="IDC"/>
<enumeration value="IAD"/>
<enumeration value="IST"/>
<enumeration value="IAC"/>
<enumeration value="NOT"/>
<enumeration value="VIS"/>
<enumeration value="URG"/>
<enumeration value="PTA"/>
</restriction>
</simpleType>
<simpleType name="modalidadePrazo">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a identificação do tipo de prazo estabelecido: - HOR: horas - DIA: dias - MES: meses - ANO: anos - DATA_CERTA: data certa - SEMPRAZO: não há prazo para cumprimento (é mera ciência)
</documentation>
</annotation>
<restriction base="string">
<enumeration value="HOR"/>
<enumeration value="DIA"/>
<enumeration value="MES"/>
<enumeration value="ANO"/>
<enumeration value="DATA_CERTA"/>
<enumeration value="SEMPRAZO"/>
</restriction>
</simpleType>
<complexType name="tipoIntercomunicacao">
<annotation>
<documentation>
Tipo de elemento raiz da intercomunicação. Ele deverá conter um dos elementos principais (processojudicial, avisocomunicacao e comunicacaoprocessual).
</documentation>
</annotation>
<choice>
<element name="processojudicial" type="cnj:tipoProcessoJudicial" minOccurs="1" maxOccurs="unbounded">
<annotation>
<documentation>
Processo judicial pertinente à comunicação específica.
</documentation>
</annotation>
</element>
<element name="avisocomunicacao" type="cnj:tipoAvisoComunicacaoPendente" minOccurs="1" maxOccurs="unbounded">
<annotation>
<documentation> Aviso de comunicação solicitado. </documentation>
</annotation>
</element>
<element name="comunicacaoprocessual" type="cnj:tipoComunicacaoProcessual" minOccurs="1" maxOccurs="unbounded">
<annotation>
<documentation> Comunicacação processual concreta. </documentation>
</annotation>
</element>
<element name="documento" type="cnj:tipoDocumento" minOccurs="1" maxOccurs="unbounded">
<annotation>
<documentation>
Elemento destinado a respostas em que somente o documento é retornado.
</documentation>
</annotation>
</element>
</choice>
</complexType>
<element name="intercomunicacao" type="cnj:tipoIntercomunicacao">
<annotation>
<documentation> Elemento raiz. </documentation>
</annotation>
</element>
<simpleType name="identificadorComunicacao">
<annotation>
<documentation> Identificador do ato de comunicação. </documentation>
</annotation>
<restriction base="string">
<pattern value="\d{15}"/>
</restriction>
</simpleType>
<simpleType name="tipoDataHora">
<annotation>
<documentation>
Tipo de elemento destinado a permitir informar data, hora, minuto e segundo, com indicação de fuso horário, no formato YYYY-MM-DDThh:mm:ssTZD, conforme padrão definido pelo W3C: https://www.w3.org/TR/NOTE-datetime
</documentation>
</annotation>
<restriction base="string">
<pattern value="^([1-9]\d{3}-((0[1-9]|1[0-2])-(0[1-9]|1\d|2[0-8])|(0[13-9]|1[0-2])-(29|30)|(0[13578]|1[02])-31)|([1-9]\d(0[48]|[2468][048]|[13579][26])|([2468][048]|[13579][26])00)-02-29)T([01]\d|2[0-3]):[0-5]\d:[0-5]\d(Z|[+-][01]\d:[0-5]\d)$"/>
</restriction>
</simpleType>
<simpleType name="tipoData">
<annotation>
<documentation>
Tipo destinado a identificar uma data no formato YYYY-MM-DD, conforme padrão definido pelo W3C: https://www.w3.org/TR/NOTE-datetime.
</documentation>
</annotation>
<restriction base="string">
<pattern value="^([1-9]\d{3}-((0[1-9]|1[0-2])-(0[1-9]|1\d|2[0-8])|(0[13-9]|1[0-2])-(29|30)|(0[13578]|1[02])-31)|([1-9]\d(0[48]|[2468][048]|[13579][26])|([2468][048]|[13579][26])00)-02-29)$"/>
</restriction>
</simpleType>
<simpleType name="tipoAno">
<annotation>
<documentation> Tipo destinado a identificar um ano válido. </documentation>
</annotation>
<restriction base="string">
<pattern value="^([1-9]\d{3})$"/>
</restriction>
</simpleType>
<complexType name="tipoRelacionamentoPessoal">
<annotation>
<documentation>
Tipo destinado a permitir a vinculação entre uma parte e outra pessoa, sendo esclarecido o tipo de relacionamento por meio da modalidade indicada no atributo do elemento.
</documentation>
</annotation>
<sequence>
<element name="pessoa" type="cnj:tipoPessoa" maxOccurs="1" minOccurs="1">
<annotation>
<documentation> Pessoa relacionada. </documentation>
</annotation>
</element>
</sequence>
<attribute name="modalidadeRelacionamento" type="cnj:modalidadeRelacionamentoPessoal">
<annotation>
<documentation>
Modalidade do relacionamento existente entre uma pessoa e a contida no elemento. Pode receber os valores indicados no tipo "modalidadeRelacionamentoPessoal".
</documentation>
</annotation>
</attribute>
</complexType>
<simpleType name="modalidadeGeneroPessoa">
<annotation>
<documentation>
Tipo destinado a permitir a identificação do gẽnero de uma dada pessoa, podendo ser: - M: masculino - F: feminido - D: desconhecido
</documentation>
</annotation>
<restriction base="string">
<enumeration value="M"/>
<enumeration value="F"/>
<enumeration value="D"/>
</restriction>
</simpleType>
<simpleType name="modalidadeRelacionamentoProcessual">
<annotation>
<documentation>
Tipo destinado a permitir que se indique a modalidade de relacionamento existente entre esta parte e outra parte que a ela está ligada, quando não se trata de um relacionamento de representação de advogado. Pode ser: - CP (curador processual); - RP (representante processual); - TF (testemunha de fato); - AT (assistente técnico); - AS (assistente).
</documentation>
</annotation>
<restriction base="string">
<enumeration value="CP"/>
<enumeration value="RP"/>
<enumeration value="TF"/>
<enumeration value="AT"/>
<enumeration value="AS"/>
</restriction>
</simpleType>
<complexType name="tipoOrgaoJulgador">
<sequence>
<element name="codigo" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
O código identificador unívoco utilizado pelo tribunal ou conselho para o órgão julgador.
</documentation>
</annotation>
</element>
<element name="nome" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
A designação interna identificadora do órgão julgador.
</documentation>
</annotation>
</element>
<element name="instancia" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Identificação da instância do órgão julgador em relação à tramitação do processo. Os tipos de instância podem ser: - ORIG: instância originária em que o processo teve início; - REV: instância de revisão direta de um processo originariamente proposto em outra instância; - ESP: instância de revisão especial de processo submetido ou não à revisão direta; - EXT: instância de revisão extraordinária - ADM: instância administrativa de análise.
</documentation>
</annotation>
<simpleType>
<restriction base="string">
<enumeration value="ORIG"/>
<enumeration value="REV"/>
<enumeration value="ESP"/>
<enumeration value="EXT"/>
<enumeration value="ADM"/>
</restriction>
</simpleType>
</element>
<element name="codigoLocalidade" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
O código da divisão administrativo-jurisdicional a que pertence o órgão julgador. Ordinariamente, será a comarca, a zona eleitoral, a subseção judiciária, a turma recursal específica etc.
</documentation>
</annotation>
</element>
<element name="orgaoColegiado" type="cnj:tipoOrgaoJulgador" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
O colegiado ao qual o órgão julgador esteja vinculado. Não aplicável em trâmite processual de 1ª instância.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoSignatarioSimples">
<annotation>
<documentation>
Tipo complexo destinado a permitir a identificação de signatários de documentos caso a assinatura tenha sido feita com o uso de login e senha, sem prejuízo da obrigatoriedade de o sistema cliente assinar eletronicamente o documento no padrão ICP-Br quando do envio.
</documentation>
</annotation>
<sequence>
<element name="identificador" type="cnj:tipoCadastroIdentificador" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Código de inscrição do signatário no cadastro do Ministério da Fazenda do Brasil, que pode ser CPF ou CNPJ.
</documentation>
</annotation>
</element>
<element name="dataHora" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Data e hora em que a assinatura foi originalmente aposta pelo signatário.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoAssinaturaDigital">
<annotation>
<documentation>
Tipo de elemento destinado a permitir o armazenamento dos dados relacionados à assinatura digital de um objeto.
</documentation>
</annotation>
<sequence>
<element name="assinatura" type="base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Hash da assinatura, em base64. </documentation>
</annotation>
</element>
<element name="dataAssinatura" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Data e hora em que a assinatura se concretizou. </documentation>
</annotation>
</element>
<element name="cadeiaCertificado" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Cadeia de certificação, no formato PEM ou, se indicado, no formato indicado no atributo codificacaoCertificado.
</documentation>
</annotation>
</element>
<element name="algoritmo" minOccurs="1" maxOccurs="1" default="sha256WithRSAEncryption">
<annotation>
<documentation>
A identificação do algoritmo de resumo matemático utilizado para criar a assinatura. Recomenda-se o tipo SHA-256.
</documentation>
</annotation>
<simpleType>
<restriction base="string">
<enumeration value="sha1WithRSAEncryption"/>
<enumeration value="sha256WithRSAEncryption"/>
<enumeration value="sha256WithECDSAEncryption"/>
<enumeration value="sha512WithRSAEncryption"/>
<enumeration value="sha512WithECDSAEncryption"/>
</restriction>
</simpleType>
</element>
<element name="codificacaoCadeiaCertificado" type="string" minOccurs="1" maxOccurs="1" default="PEM">
<annotation>
<documentation>
Indica a codificação (PEM, DER etc.) de envio da cadeia de certificação. Por padrão, essa codificação deve ser a PEM, e, quando não indicada a informação, a implementação deve considerar que essa codificação foi utilizada. A implementação pode, mas não é obrigada a, tolerar envio equivocado da informação, de forma que as implementações cliente não devem contar com esse tipo de tratamento.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoAssinatura">
<annotation>
<documentation>
Tipo de elemento destinado a permitir o armazenamento dos dados relacionados à assinatura um objeto, seja ela digital ou simples (uso de login e senha para assinar o documento).
</documentation>
</annotation>
<sequence>
<choice minOccurs="1" maxOccurs="1">
<element name="signatarioLogin" type="cnj:tipoSignatarioSimples">
<annotation>
<documentation>
Informação referente a signatário que fez uso de login e senha para assinar o documento.
</documentation>
</annotation>
</element>
<element name="assinaturaDigital" type="cnj:tipoAssinaturaDigital">
<annotation>
<documentation>
Informação referente aos dados de assinatura digital.
</documentation>
</annotation>
</element>
</choice>
</sequence>
</complexType>
<simpleType name="modalidadeUnidadeFederacao">
<annotation>
<documentation>
Determina as siglas das unidades da federação brasileira.
</documentation>
</annotation>
<restriction base="string">
<enumeration value="AC"/>
<enumeration value="AL"/>
<enumeration value="AP"/>
<enumeration value="AM"/>
<enumeration value="BA"/>
<enumeration value="CE"/>
<enumeration value="DF"/>
<enumeration value="ES"/>
<enumeration value="GO"/>
<enumeration value="MA"/>
<enumeration value="MT"/>
<enumeration value="MS"/>
<enumeration value="MG"/>
<enumeration value="PA"/>
<enumeration value="PB"/>
<enumeration value="PR"/>
<enumeration value="PE"/>
<enumeration value="PI"/>
<enumeration value="RJ"/>
<enumeration value="RN"/>
<enumeration value="RS"/>
<enumeration value="RO"/>
<enumeration value="RR"/>
<enumeration value="SC"/>
<enumeration value="SP"/>
<enumeration value="SE"/>
<enumeration value="TO"/>
</restriction>
</simpleType>
<complexType name="tipoCidade">
<sequence>
<element name="municipio" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> O nome do município. </documentation>
</annotation>
</element>
<element name="unidadeFederacao" type="cnj:modalidadeUnidadeFederacao" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Unidade federativa a qual está vinculado o município.
</documentation>
</annotation>
</element>
<element name="codigoIBGE" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Código do município brasileiro conforme cadastro do IBGE. O valor deverá ser uma sequência de 7 dígitos, sem qualquer separador, de acordo com a tabela de municípios do IBGE, disponível em http://concla.ibge.gov.br/classificacoes/por-tema/codigo-de-areas.
</documentation>
</annotation>
<simpleType>
<restriction base="string">
<pattern value="[0-9]{7}"/>
</restriction>
</simpleType>
</element>
</sequence>
</complexType>
<complexType name="tipoRespostaAviso">
<annotation>
<documentation>
Tipo de elemento destinado a permitir a manifestação processual em casos de resposta a avisos de comunicação.
</documentation>
</annotation>
<sequence>
<element name="idAviso" type="cnj:identificadorComunicacao" minOccurs="1" maxOccurs="unbounded">
<annotation>
<documentation> Identificadores de avisos de comunicação. </documentation>
</annotation>
</element>
<element name="documento" type="cnj:tipoDocumento" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Elemento opcional do tipo 'tipoDocumento' previsto no esquema intercomunicacao.xsd. Caso preenchido, o documento atribuído a este elemento deverá ser vinculado aos identificadores de avisos de comunicação informados.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoUnidadeJudiciaria">
<annotation>
<documentation>
Tipo de elemento que permite a indicação da unidade de justiça a qual o processo judicial esteja vinculado, considerando os elementos: - “J”: Justiça; - “TR”: Tribunal e; - “OOOO”: unidade de origem, conforme disposto na Resolução CNJ 65/2008 que normatiza a as regras de numeração única processual.
</documentation>
</annotation>
<sequence>
<element name="justica" minOccurs="1">
<annotation>
<documentation>
Identifica o órgão ou segmento de Justiça. Podem ser: - 1: Supremo Tribunal Federal; - 2: Conselho Nacional de Justiça; - 3: Superior Tribunal de Justiça; - 4: Justiça Federal; - 5: Justiça do Trabalho; - 6: Justiça Eleitoral; - 7: Justiça Militar da União; - 8: Justiça dos Estados e do Distrito Federal e Territórios; - 9: Justiça Militar Estadual.
</documentation>
</annotation>
<simpleType>
<restriction base="integer">
<minInclusive value="1"/>
<maxInclusive value="9"/>
</restriction>
</simpleType>
</element>
<element name="tribunal" minOccurs="1">
<annotation>
<documentation>
Identifica o tribunal do respectivo segmento de Justiça.
</documentation>
</annotation>
<simpleType>
<restriction base="string">
<pattern value="[0-9]{2}"/>
</restriction>
</simpleType>
</element>
<element name="unidade" minOccurs="1">
<annotation>
<documentation>
Identifica a unidade de origem do processo judicial, observadas as estruturas administrativas de cada segmento de Justiça.
</documentation>
</annotation>
<simpleType>
<restriction base="string">
<pattern value="[0-9]{4}"/>
</restriction>
</simpleType>
</element>
</sequence>
</complexType>
<complexType name="tipoMensagemResposta">
<annotation>
<documentation>
Tipo de elemento destinado a especificar a mensagem relativa à realização da operação.
</documentation>
</annotation>
<sequence>
<element name="descritivo" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Descritivo relativo à realização da operação. </documentation>
</annotation>
</element>
<element name="codigo" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Código da mensagem relativa à realização da operação.
</documentation>
</annotation>
</element>
<element name="codigoUnico" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Código unívoco da mensagem relativa à realização da operação. Utilizado para identificação da mensagem nos registros de log dos sistemas que implementem o modelo.
</documentation>
</annotation>
</element>
<element name="tipo" minOccurs="0" maxOccurs="1" default="INFORMACAO">
<simpleType>
<restriction base="string">
<enumeration value="INFORMACAO"/>
<enumeration value="ALERTA"/>
<enumeration value="ERRO"/>
</restriction>
</simpleType>
</element>
</sequence>
</complexType>
<complexType name="tipoLocalidade">
<annotation>
<documentation> Tipo de elemento definidor de uma localidade. </documentation>
</annotation>
<sequence>
<element name="codigo" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Código identificador da localidade. </documentation>
</annotation>
</element>
<element name="descricao" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Descrição da localidade. </documentation>
</annotation>
</element>
<element name="municipio" type="cnj:tipoCidade" minOccurs="0" maxOccurs="1">
<annotation>
<documentation> Município sede da localidade. </documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoCompetencia">
<annotation>
<documentation> Tipo de elemento definidor de uma competência. </documentation>
</annotation>
<sequence>
<element name="codigo" type="int" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Identificador da competência. </documentation>
</annotation>
</element>
<element name="descricao" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Descrição da competência. </documentation>
</annotation>
</element>
</sequence>
</complexType>
<simpleType name="modalidadeAlgoritmoHash">
<annotation>
<documentation>
Elemento definidor dos tipos possíveis de algoritmos para cálculo de hash nas operações que lidem com assinaturas digitais. Os tipos possíveis são: - MD5; - SHA-1; - SHA-256; - SHA-512.
</documentation>
</annotation>
<restriction base="string">
<enumeration value="MD5"/>
<enumeration value="SHA-1"/>
<enumeration value="SHA-256"/>
<enumeration value="SHA-512"/>
</restriction>
</simpleType>
<complexType name="tipoHash">
<annotation>
<documentation>
Tipo de elemento destinado a armazenar o resultado do algoritmo de resumo matemático de um determinado valor em conjunto com o seu respectivo tipo.
</documentation>
</annotation>
<sequence>
<element name="hash" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Resultado do algoritmo de resumo matemático. </documentation>
</annotation>
</element>
<element name="algoritmo" type="cnj:modalidadeAlgoritmoHash" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Algoritmo utilizado para o cálculo do resumo matemático. Recomenda-se o uso de SHA-256 ou superior.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoHistoricoDeslocamento">
<annotation>
<documentation>
Tipo de elemento destinado a armazenar as unidades judiciárias e respectivas datas de recebimento pelas quais o processo judicial tramitou.
</documentation>
</annotation>
<sequence>
<element name="unidadeJudiciaria" type="cnj:tipoUnidadeJudiciaria" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Unidade de justiça pela qual o processo judicial tenha tramitado.
</documentation>
</annotation>
</element>
<element name="dataAjuizamento" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Data e hora de recebimento do processo judicial pela unidade de justiça.
</documentation>
</annotation>
</element>
<element name="numeroProcesso" type="cnj:tipoNumeroUnico" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Número do processo judicial, no formado da numeração única determinado pela Resolução 65. Caso se trate de processo inicial, deverá ser utilizado o número '00000000000000000000'
</documentation>
</annotation>
</element>
<element name="numeroInterno" type="string" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Número do processo ou recurso interno utilizado no âmbito do tribunal.
</documentation>
</annotation>
</element>
<element name="classeProcessual" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Código da classe processual conforme Resolução 46. </documentation>
</annotation>
<simpleType>
<restriction base="int">
<minInclusive value="1"/>
</restriction>
</simpleType>
</element>
</sequence>
</complexType>
<complexType name="tipoAutenticacaoSimples">
<annotation>
<documentation>
Tipo de elemento destinado a armazenar as credenciais do usuário no padrão usuário/senha.
</documentation>
</annotation>
<sequence>
<element name="usuario" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Identificação do usuário. </documentation>
</annotation>
</element>
<element name="senha" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Senha do usuário. </documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoAutenticacao">
<annotation>
<documentation>
Tipo de elemento destinado a armazenar as credenciais de acesso ao sistema.
</documentation>
</annotation>
<sequence>
<choice minOccurs="1" maxOccurs="1">
<element name="token" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Chave de autenticação concedida pelo sistema após autenticação prévia, feita por usuário/senha ou certificado digital. Visa tornar mais ágil o processo de autenticação, tornando desnecessário realizar o custoso procedimento de credenciamento a cada chamada de operação.
</documentation>
</annotation>
</element>
<element name="autenticacaoSimples" type="cnj:tipoAutenticacaoSimples" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Credenciais de acesso no padrão usuário/senha. </documentation>
</annotation>
</element>
<element name="autenticacaoCertificada" type="cnj:tipoAssinaturaDigital" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Assinatura digital da data, hora, minutos, segundos e fuso horário (timezone) do momento da requisição, no formato 'AAAA-MM-DDThh:mm:ssTDZ', conforme definido pelo formato do W3C, em https://www.w3.org/TR/NOTE-datetime. Exemplo: 2016-08-20T19:20:32-03:00. O hash do conteúdo assinado deve ser informado no atributo 'assinatura', enquanto a data utilizada para o cálculo do hash (timestamp) deve estar expressa no campo 'dataAssinatura'.
</documentation>
</annotation>
</element>
</choice>
<element name="pessoaVinculada" type="cnj:tipoCadastroIdentificador" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Informação não obrigatória destinada a identificar possível CPF ou CNPJ que esteja vinculado às credenciais da pessoa solicitadora da autenticação. Alguns exemplos de uso: CNPJ do escritório ao qual o advogado esteja vinculado; CPF do procurador vinculado às credenciais institucionais da procuradoria.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoReciboDocumentoProtocolado">
<annotation>
<documentation>
Tipo de elemento destinado a armazenar hash, horário e número do processo judicial dos documentos originários de manifestações processuais e remessa de processos.
</documentation>
</annotation>
<sequence>
<element name="hashDocumento" type="cnj:tipoHash" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Hash do documento. </documentation>
</annotation>
</element>
<element name="dataRecebimento" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Data, hora, minuto, segundo e fuso horário do recebimento do documento pelo sistema judicial.
</documentation>
</annotation>
</element>
<element name="numeroProcesso" type="cnj:tipoNumeroUnico" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Numero do processo judicial destinatário do documento protocolado.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoReciboTokenAutenticacao">
<annotation>
<documentation>
Tipo de elemento destinado a armazenar o token de autenticação gerado pelo sistema de destino. Visa tornar mais ágil o processo de autenticação em operações sequentes, tornando desnecessário realizar o custoso procedimento de credenciamento a cada chamada de operação.
</documentation>
</annotation>
<sequence>
<element name="token" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation>
Chave de acesso concedida pelo sistema após autenticação. Pode ser utilizada em chamadas posteriores em substituição às credenciais tradicionais: usuário/senha ou certificado digital.
</documentation>
</annotation>
</element>
<element name="dataExpiracao" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Tempo de expiração do token. </documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoRecibo">
<annotation>
<documentation>
Tipo de elemento que encapsula elementos comuns a respostas decorrentes de chamada a operações do modelo. Sendo bem sucedida ou não, deve ser fornecido protocolo da operação.
</documentation>
</annotation>
<sequence>
<element name="sucesso" type="boolean" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Indicador do sucesso da operação. </documentation>
</annotation>
</element>
<element name="mensagens" type="cnj:tipoMensagemResposta" minOccurs="1" maxOccurs="unbounded">
<annotation>
<documentation>
Lista de mensagens relativa à realização da operação.
</documentation>
</annotation>
</element>
<element name="reciboToken" type="cnj:tipoReciboTokenAutenticacao" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Chave de acesso concedida pelo sistema após autenticação. Pode ser utilizada em chamadas posteriores em substituição às credenciais tradicionais: usuário/senha ou certificado digital.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<complexType name="tipoReciboManifestacaoProcessual">
<annotation>
<documentation>
Tipo de elemento que encapsula a resposta decorrente da manifestação apresentada. Sendo bem sucedida ou não, deve ser fornecido protocolo da operação. O recibo deverá ser apresentado em caso de sucesso.
</documentation>
</annotation>
<sequence>
<element name="recibo" type="cnj:tipoRecibo" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Dados comuns do recibo. </documentation>
</annotation>
</element>
<element name="numeroProtocolo" type="string" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Número do protocolo da operação. </documentation>
</annotation>
</element>
<element name="dataOperacao" type="cnj:tipoDataHora" minOccurs="1" maxOccurs="1">
<annotation>
<documentation> Data em que a operação foi realizada. </documentation>
</annotation>
</element>
<element name="documentoComprovante" type="base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="0" maxOccurs="1">
<annotation>
<documentation>
Recibo da operação, se bem sucedida. O recibo deverá ser um arquivo PDF assinado eletronicamente.
</documentation>
</annotation>
</element>
<element name="reciboDocumentos" type="cnj:tipoReciboDocumentoProtocolado" minOccurs="0" maxOccurs="unbounded">
<annotation>
<documentation>
Lista dos recibos de documentos protocolados, contendo o hash de cada documento, data e hora de procotolo e número do processo destinatário.
</documentation>
</annotation>
</element>
</sequence>
</complexType>
<simpleType name="tipoNivelEscolaridade">
<annotation>
<documentation>
Definidor dos níveis de escolaridade: - 1: Analfabeto; - 2: Nível fundamental completo; - 3: Nível fundamental incompleto; - 4: Nível médio completo; - 5: Nível médio incompleto; - 6: Nível superior completo; - 7: Nível superior incompleto.
</documentation>
</annotation>
<restriction base="string">
<enumeration value="1"/>
<enumeration value="2"/>
<enumeration value="3"/>
<enumeration value="4"/>
<enumeration value="5"/>
<enumeration value="6"/>
<enumeration value="7"/>
</restriction>
</simpleType>
<simpleType name="modalidadeSituacaoParte">
<annotation>
<documentation>
Definidor das situações de partes: - A: Ativa; - I: Inativa; - B: Baixada; - S: Suspensa.
</documentation>
</annotation>
<restriction base="string">
<enumeration value="A"/>
<enumeration value="I"/>
<enumeration value="B"/>
<enumeration value="S"/>
</restriction>
</simpleType>
<simpleType name="tipoNivelSigilo">
<annotation>
<documentation>
Nível de sigilo a ser aplicado ao elemento. Dever-se-á utilizar os seguintes níveis: - 0: públicos, acessíveis a todos os servidores do Judiciário e dos demais órgãos públicos de colaboração na administração da Justiça, assim como aos advogados e a qualquer cidadão - 1: segredo de justiça, acessíveis aos servidores do Judiciário, aos servidores dos órgãos públicos de colaboração na administração da Justiça e às partes do processo. - 2: sigilo mínimo, acessível aos servidores do Judiciário e aos demais órgãos públicos de colaboração na administração da Justiça - 3: sigilo médio, acessível aos servidores do órgão em que tramita o processo, à(s) parte(s) que provocou(ram) o incidente e àqueles que forem expressamente incluídos - 4: sigilo intenso, acessível a classes de servidores qualificados (magistrado, diretor de secretaria/escrivão, oficial de gabinete/assessor) do órgão em que tramita o processo, às partes que provocaram o incidente e àqueles que forem expressamente incluídos - 5: sigilo absoluto, acessível apenas ao magistrado do órgão em que tramita, aos servidores e demais usuários por ele indicado e às partes que provocaram o incidente.
</documentation>
</annotation>
<restriction base="int">
<minInclusive value="0"/>
<maxInclusive value="5"/>
</restriction>
</simpleType>
<simpleType name="modalidadePrioridade">
<annotation>
<documentation>
Elemento destinado a permitir a identificação da existência de priopridades processuais não óbvias, ou seja, aquelas que não são resultado direto da identificação da classe processual (ex.: habeas corpus ou mandado de segurança). Na versão 2.0, será texto livre, mas é recomendável utilizar os seguintes textos identificadores: - IDOSO: Idoso - REU_PRESO: Réu preso - PERECIMENTO: Perecimento - MENOR: Menor de idade
</documentation>
</annotation>
<restriction base="string">
<enumeration value="IDOSO"/>
<enumeration value="REU_PRESO"/>
<enumeration value="PERECIMENTO"/>
<enumeration value="MENOR"/>
</restriction>
</simpleType>
<simpleType name="modalidadePendenciaComunicacao">
<annotation>
<documentation>
Definidor dos tipos possíveis de comunicações pendentes: - PC: pendentes de ciência; - PR: pendentes de resposta; - AM: ambos.
</documentation>
</annotation>
<restriction base="string">
<enumeration value="PC"/>
<enumeration value="PR"/>
<enumeration value="AM"/>
</restriction>
</simpleType>
</schema>